{% extends 'base.html'%}

{% block title%}
Images
{% endblock %}
{% block content%}
<div class="container mt-4">
{% for i in range(4) %}
<img src="{{user_imgs[i]}}" alt="img" width="200" height="300">
{% endfor %}
</div>
<br>
<h1 class="mt-5 text-center">Tags</h1>
<div class="container border border-dark rounded">
    <div class="row mt-5 mb-5">
        {% for tag in tags %}
        <div class="col-sm">
            <button class="btn btn-primary btn-lg">{{tag}}</button>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}